<div class="card">
  <h1 class="page-title">Nova oferenda</h1>
  <%= render "form", offering: @offering %>
  <div class="mt-4">
    <%= link_to "Voltar", offerings_path, class: "link-plain" %>
  </div>
</div>
