<% if notice %><p class="notice"><%= notice %></p><% end %>

<div class="flex justify-between items-center mb-6">
  <h1 class="page-title mb-0">Usuários</h1>
  <%= link_to "Novo usuário", new_user_path, class: "btn-primary" %>
</div>

<div id="users" class="space-y-4">
  <% @users.each do |user| %>
    <div class="card">
      <%= render user %>
      <%= link_to "Ver", user, class: "link mt-2 inline-block" %>
    </div>
  <% end %>
</div>
