<div class="bg-white rounded-lg shadow-md p-6">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Oferenda da semana</h2>
    <p class="text-sm text-gray-600">Casa Forte<br>Encerra 01.03 - sexta-feira, 12:30</p>
  </div>

  <%= render "form", harvest: @harvest %>
</div>
