<div class="card">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-main-2">Oferenda da semana</h2>
    <p class="text-sm text-neutral-3">Casa Forte<br>Encerra 01.03 - sexta-feira, 12:30</p>
  </div>

  <%= render "form", harvest: @harvest %>
</div>
