<article class="flex flex-col grow shrink min-w-[240px] w-[231px]">
  <div class="flex flex-col justify-center px-9 py-16 bg-white rounded-xl shadow-[0px_4px_44px_rgba(48,38,226,0.08)] max-md:px-5">
    <div class="flex flex-col items-center">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a7d3944e25a911d76059a7b7bbaa5b27cb4b36d58b21a9d87ebf9502346f2e76?placeholderIfAbsent=true&apiKey=6ecb5749cca9460bb7f524bdab629711" class="object-contain aspect-square w-[50px]" alt="Ícone de oferenda da semana" />
      <h2 class="text-xl font-medium text-center"><%= call_to_action %></h2>
      <p class="text-base leading-4 opacity-50">Encerra 01.03 , 12:30</p>
    </div>
  </div>
</article>