<article class="flex flex-col grow shrink min-w-[240px] w-[231px]">
  <div class="flex flex-col justify-center px-9 py-16 bg-white rounded-xl shadow-[0px_4px_44px_rgba(48,38,226,0.08)] max-md:px-5">
    <div class="flex flex-col items-center">
      <h2 class="text-xl font-medium text-center"><%= call_to_action %></h2>
      <% if local_assigns[:subtitle] %>
        <p class="text-base leading-4 opacity-50"><%= subtitle %></p>
      <% end %>
    </div>
  </div>
</article>
