<div class="card">
  <h1 class="page-title">Editar produto</h1>
  <%= render "form", product: @product %>
  <div class="flex gap-4 mt-4">
    <%= link_to "Ver", @product, class: "link" %>
    <%= link_to "Voltar", products_path, class: "link-plain" %>
  </div>
</div>
