<div class="card">
  <h1 class="page-title">Novo produto</h1>
  <%= render "form", product: @product %>
  <div class="mt-4">
    <%= link_to "Voltar", products_path, class: "link-plain" %>
  </div>
</div>
