<div class="card">
  <h1 class="page-title">Editar local de retirada</h1>
  <%= render "form", location: @location %>
  <div class="flex gap-4 mt-4">
    <%= link_to "Ver", @location, class: "link" %>
    <%= link_to "Voltar", locations_path, class: "link-plain" %>
  </div>
</div>
